@import "utilities/fonts";
@import "utilities/variables";

* { box-sizing: border-box; }

a {
  color: $link-color;
  text-decoration: none;
}

.button {
  border: 0;
  width: 100%;
  color: #fff;
  font-size: .875em;
  padding: .75em;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0669de;
  font-family: proximanova-bold-limited, helvetica, arial, sans-serif;
  box-shadow: inset 0 -2px rgba(0, 0, 0, .25);

  transition: all .5s ease;


  &:hover {
    background-color: #0664d4;
  }
}

.clearfix{ clear: both; }

.text-center {
  text-align: center;
}

.center{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) translateZ(0);
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.leadads-container {
  width: 100%;
  height: 635px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;

  margin: 35px auto;
  max-width: 350px;
  padding: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 0.4em rgba(0, 0, 0, 0.3);
  transition: all 0.4s;


  &.open-animation {
    -webkit-animation-name: OpenAnim;
            animation-name: OpenAnim;
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }

  @keyframes OpenAnim {
    0% {
      margin-top: -630px;
    }
    100% {
      margin-top: 35px;
    }
  }

}

body {
  font-family: opensans-regular, helvetica, arial, sans-serif;
  font-weight: normal;
  background-color: rgba(255, 255, 255, .7);
  color: $font-color;
  font-size: 15px;
}


@media only screen and (max-width: 380px) {
  .leadads-container {
    width: 90%;
  }
}