.lead-form {
  width: 100%;
  position: absolute;
  padding: 15px;
  
  right: 100%;
  transition: all .2s ease;

  &.active {
    right: 0%;
  }

  .input-label {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    
    
    > span {
      display: block;
      margin-bottom: 6px;
      color: #666;
    }

    .input-text {
      width: 100%;
      height: 40px;
      color: #000;
      font-size: 16px;
      padding: 10px 8px;
      border: 1px solid #d5d5d5;
      border-top: 1px solid #aaa;
      border-radius: 2px;

      transition: all .5s ease;
      
      &:focus {
        outline: #e8e8e8;
        outline-width: thick;
        outline-color: #e8e8e8;
        border: 1px solid #bbb;
        border-top: 1px solid #777;
        background-image: linear-gradient(to bottom,#f9f9f9,#fff);
        
      }
    }
  }

  .radio-fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;

    legend {
      margin-bottom: 6px;
      font-size: 14px;
    }

    .input-label {
      display: inline-block;

      
      > span {
        font-size: 14px;
        display: initial;
        font-size: 14px;
        font-weight: bold;
      }

      input {
        width: auto;
        margin: 0 5px;
      }
    }
  }

  .form-footer {
    margin-top: 20px;
    text-align: right;
  }

  .captcha {
    padding: 10px 0;
    margin-bottom: 20px;

    .captcha-title {
      margin-top: 0;
    }
  }
  
}

.lead-terms {
  width: 100%;
  position: absolute;
  padding: 15px;
  
  right: -100%;
  transition: all .2s ease;
  
  &.active {
    right: 0%;
  }

  .lead-terms-text {
    height: 480px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }
}

.lead-success {
  width: 100%;
  position: absolute;
  padding: 15px;
  
  right: -100%;
  transition: all .2s ease;
  
  &.active {
    right: 0%;
  }
}
