@font-face {
  font-family: opensans-light;
  src: url(../fonts/globoid-font/opensans-light-webfont.eot);
  src: url(../fonts/globoid-font/opensans-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/opensans-light-webfont.woff) format("woff"),url(../fonts/globoid-font/opensans-light-webfont.ttf) format("truetype"),url(../fonts/globoid-font/opensans-light-webfont.svg#opensans-light-webfont) format("svg")
}

@font-face {
  font-family: opensans-regular;
  src: url(../fonts/globoid-font/opensans-regular-webfont.eot);
  src: url(../fonts/globoid-font/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/opensans-regular-webfont.woff) format("woff"),url(../fonts/globoid-font/opensans-regular-webfont.ttf) format("truetype"),url(../fonts/globoid-font/opensans-regular-webfont.svg#opensans-regular-webfont) format("svg")
}

@font-face {
  font-family: opensans-semibold;
  src: url(../fonts/globoid-font/opensans-semibold-webfont.eot);
  src: url(../fonts/globoid-font/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/opensans-semibold-webfont.woff) format("woff"),url(../fonts/globoid-font/opensans-semibold-webfont.ttf) format("truetype"),url(../fonts/globoid-font/opensans-semibold-webfont.svg#opensans-semibold-webfont) format("svg")
}

@font-face {
  font-family: opensans-bold;
  src: url(../fonts/globoid-font/opensans-bold-webfont.eot);
  src: url(../fonts/globoid-font/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/opensans-bold-webfont.woff) format("woff"),url(../fonts/globoid-font/opensans-bold-webfont.ttf) format("truetype"),url(../fonts/globoid-font/opensans-bold-webfont.svg#opensans-bold-webfont) format("svg")
}

@font-face {
  font-family: proximanova-regular-limited;
  text-transform:uppercase;src: url(../fonts/globoid-font/proximanova-regular-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-regular-limited-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/proximanova-regular-limited-webfont.woff) format("woff"),url(../fonts/globoid-font/proximanova-regular-limited-webfont.ttf) format("truetype"),url(../fonts/globoid-font/proximanova-regular-limited-webfont.svg#proximanova-regular-limited-webfont) format("svg")
}

@font-face {
  font-family: proximanova-light-limited;
  text-transform:uppercase;src: url(../fonts/globoid-font/proximanova-light-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-light-limited-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/proximanova-light-limited-webfont.woff) format("woff"),url(../fonts/globoid-font/proximanova-light-limited-webfont.ttf) format("truetype"),url(../fonts/globoid-font/proximanova-light-limited-webfont.svg#proximanova-light-limited-webfont) format("svg")
}

@font-face {
  font-family: proximanova-bold-limited;
  text-transform:uppercase;src: url(../fonts/globoid-font/proximanova-bold-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-bold-limited-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/proximanova-bold-limited-webfont.woff) format("woff"),url(../fonts/globoid-font/proximanova-bold-limited-webfont.ttf) format("truetype"),url(../fonts/globoid-font/proximanova-bold-limited-webfont.svg#proximanova-bold-limited-webfont) format("svg")
}

@font-face {
  font-family: proximanova-semibold-limited;
  text-transform:uppercase;src: url(../fonts/globoid-font/proximanova-semibold-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-semibold-limited-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/globoid-font/proximanova-semibold-limited-webfont.woff) format("woff"),url(../fonts/globoid-font/proximanova-semibold-limited-webfont.ttf) format("truetype"),url(../fonts/globoid-font/proximanova-semibold-limited-webfont.svg#proximanova-semibold-limited-webfont) format("svg")
}