.form-container {
  width: 300px;
  margin: 50px auto;

  header {
    margin-bottom: 30px;
  }

  .input-label {
    display: block;
    margin-bottom: 30px;
    font-size: 14px;
    
    
    > span {
      display: block;
      margin-bottom: 6px;
      color: #666;
    }

    .input-text {
      width: 100%;
      height: 40px;
      color: #000;
      font-size: 16px;
      padding: 10px 8px;
      border: 1px solid #d5d5d5;
      border-top: 1px solid #aaa;
      border-radius: 2px;

      transition: all .5s ease;
      
      &:focus {
        outline: #e8e8e8;
        outline-width: thick;
        outline-color: #e8e8e8;
        border: 1px solid #bbb;
        border-top: 1px solid #777;
        background-image: linear-gradient(to bottom,#f9f9f9,#fff);
        
      }
    }
  }

}