@import "utilities/fonts";
@import "utilities/variables";

* { box-sizing: border-box; }

a {
  color: $link-color;
  text-decoration: none;
}

.button {
  border: 0;
  width: 100%;
  color: #fff;
  font-size: .875em;
  padding: .75em;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0669de;
  font-family: proximanova-bold-limited, helvetica, arial, sans-serif;
  box-shadow: inset 0 -2px rgba(0, 0, 0, .25);

  transition: all .5s ease;


  &:hover {
    background-color: #0664d4;
  }

  &[disabled] {
    background-color: #eee;
    color: #777;
  }
}

.clearfix{ clear: both; }

.text-center {
  text-align: center;
}

.center{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) translateZ(0);
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

body {
  background-color: #fefefe;
  font-family: opensans-regular, helvetica, arial, sans-serif;
  font-weight: normal;
  color: $font-color;
  font-size: 15px;
}

.logo {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  background: url('../img/logo-2.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.alert-message {
  display: none;
  padding: 20px;
  border-radius: 0px;
  background-color: #eee;
  margin-bottom: 25px;

  &.show {
    display: block;
  }
}