@charset "UTF-8";
@font-face {
  font-family: opensans-light;
  src: url(../fonts/globoid-font/opensans-light-webfont.eot);
  src: url(../fonts/globoid-font/opensans-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/opensans-light-webfont.woff) format("woff"), url(../fonts/globoid-font/opensans-light-webfont.ttf) format("truetype"), url(../fonts/globoid-font/opensans-light-webfont.svg#opensans-light-webfont) format("svg"); }

@font-face {
  font-family: opensans-regular;
  src: url(../fonts/globoid-font/opensans-regular-webfont.eot);
  src: url(../fonts/globoid-font/opensans-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/opensans-regular-webfont.woff) format("woff"), url(../fonts/globoid-font/opensans-regular-webfont.ttf) format("truetype"), url(../fonts/globoid-font/opensans-regular-webfont.svg#opensans-regular-webfont) format("svg"); }

@font-face {
  font-family: opensans-semibold;
  src: url(../fonts/globoid-font/opensans-semibold-webfont.eot);
  src: url(../fonts/globoid-font/opensans-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/opensans-semibold-webfont.woff) format("woff"), url(../fonts/globoid-font/opensans-semibold-webfont.ttf) format("truetype"), url(../fonts/globoid-font/opensans-semibold-webfont.svg#opensans-semibold-webfont) format("svg"); }

@font-face {
  font-family: opensans-bold;
  src: url(../fonts/globoid-font/opensans-bold-webfont.eot);
  src: url(../fonts/globoid-font/opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/opensans-bold-webfont.woff) format("woff"), url(../fonts/globoid-font/opensans-bold-webfont.ttf) format("truetype"), url(../fonts/globoid-font/opensans-bold-webfont.svg#opensans-bold-webfont) format("svg"); }

@font-face {
  font-family: proximanova-regular-limited;
  text-transform: uppercase;
  src: url(../fonts/globoid-font/proximanova-regular-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-regular-limited-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/proximanova-regular-limited-webfont.woff) format("woff"), url(../fonts/globoid-font/proximanova-regular-limited-webfont.ttf) format("truetype"), url(../fonts/globoid-font/proximanova-regular-limited-webfont.svg#proximanova-regular-limited-webfont) format("svg"); }

@font-face {
  font-family: proximanova-light-limited;
  text-transform: uppercase;
  src: url(../fonts/globoid-font/proximanova-light-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-light-limited-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/proximanova-light-limited-webfont.woff) format("woff"), url(../fonts/globoid-font/proximanova-light-limited-webfont.ttf) format("truetype"), url(../fonts/globoid-font/proximanova-light-limited-webfont.svg#proximanova-light-limited-webfont) format("svg"); }

@font-face {
  font-family: proximanova-bold-limited;
  text-transform: uppercase;
  src: url(../fonts/globoid-font/proximanova-bold-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-bold-limited-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/proximanova-bold-limited-webfont.woff) format("woff"), url(../fonts/globoid-font/proximanova-bold-limited-webfont.ttf) format("truetype"), url(../fonts/globoid-font/proximanova-bold-limited-webfont.svg#proximanova-bold-limited-webfont) format("svg"); }

@font-face {
  font-family: proximanova-semibold-limited;
  text-transform: uppercase;
  src: url(../fonts/globoid-font/proximanova-semibold-limited-webfont.eot);
  src: url(../fonts/globoid-font/proximanova-semibold-limited-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/globoid-font/proximanova-semibold-limited-webfont.woff) format("woff"), url(../fonts/globoid-font/proximanova-semibold-limited-webfont.ttf) format("truetype"), url(../fonts/globoid-font/proximanova-semibold-limited-webfont.svg#proximanova-semibold-limited-webfont) format("svg"); }

/* Variáveis */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #0669de;
  text-decoration: none; }

.button {
  border: 0;
  width: 100%;
  color: #fff;
  font-size: .875em;
  padding: .75em;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: #0669de;
  font-family: proximanova-bold-limited, helvetica, arial, sans-serif;
  -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .button:hover {
    background-color: #0664d4; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
  transform: translate(-50%, -50%) translateZ(0); }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.leadads-container {
  width: 100%;
  height: 635px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
  margin: 35px auto;
  max-width: 350px;
  padding: 0px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 0.4em rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 0.4em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .leadads-container.open-animation {
    -webkit-animation-name: OpenAnim;
    animation-name: OpenAnim;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

@-webkit-keyframes OpenAnim {
  0% {
    margin-top: -630px; }
  100% {
    margin-top: 35px; } }

@keyframes OpenAnim {
  0% {
    margin-top: -630px; }
  100% {
    margin-top: 35px; } }

body {
  font-family: opensans-regular, helvetica, arial, sans-serif;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.7);
  color: #666;
  font-size: 15px; }

@media only screen and (max-width: 380px) {
  .leadads-container {
    width: 90%; } }
