.lead-form {
  width: 100%;
  position: absolute;
  padding: 15px;
  right: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .lead-form.active {
    right: 0%; }
  .lead-form .input-label {
    display: block;
    margin-bottom: 30px;
    font-size: 14px; }
    .lead-form .input-label > span {
      display: block;
      margin-bottom: 6px;
      color: #666; }
    .lead-form .input-label .input-text {
      width: 100%;
      height: 40px;
      color: #000;
      font-size: 16px;
      padding: 10px 8px;
      border: 1px solid #d5d5d5;
      border-top: 1px solid #aaa;
      border-radius: 2px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .lead-form .input-label .input-text:focus {
        outline: #e8e8e8;
        outline-width: thick;
        outline-color: #e8e8e8;
        border: 1px solid #bbb;
        border-top: 1px solid #777;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#fff));
        background-image: linear-gradient(to bottom, #f9f9f9, #fff); }
  .lead-form .radio-fieldset {
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 16px; }
    .lead-form .radio-fieldset legend {
      margin-bottom: 6px;
      font-size: 14px; }
    .lead-form .radio-fieldset .input-label {
      display: inline-block; }
      .lead-form .radio-fieldset .input-label > span {
        font-size: 14px;
        display: initial;
        font-size: 14px;
        font-weight: bold; }
      .lead-form .radio-fieldset .input-label input {
        width: auto;
        margin: 0 5px; }
  .lead-form .form-footer {
    margin-top: 20px;
    text-align: right; }
  .lead-form .captcha {
    padding: 10px 0;
    margin-bottom: 20px; }
    .lead-form .captcha .captcha-title {
      margin-top: 0; }

.lead-terms {
  width: 100%;
  position: absolute;
  padding: 15px;
  right: -100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .lead-terms.active {
    right: 0%; }
  .lead-terms .lead-terms-text {
    height: 480px;
    overflow-y: scroll;
    margin-bottom: 20px; }

.lead-success {
  width: 100%;
  position: absolute;
  padding: 15px;
  right: -100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .lead-success.active {
    right: 0%; }
