<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Download | Leads Globo</title>
    <meta rel="icon" type="image/ico" href="https://s2.glbimg.com/6bKm5gp0NM7TgntXJI-wSmy1jDA=/32x32/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="icon" type="image/ico" sizes="16x16" href="https://s2.glbimg.com/lwoJ7G2tUnyVRinT9UdaQAzaglc=/16x16/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="icon" type="image/ico" sizes="32x32" href="https://s2.glbimg.com/6bKm5gp0NM7TgntXJI-wSmy1jDA=/32x32/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="icon" sizes="192x192" href="https://s2.glbimg.com/8Mgs7tfcMBD0G6Is0087IrtVzKA=/192x192/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="https://s2.glbimg.com/tKT23Ywj-hGPZEN9A2ua2buorvw=/57x57/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="https://s2.glbimg.com/t8K6_MYsvc9idk8y_VJ02I42a4k=/72x72/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="https://s2.glbimg.com/LqIwcrNzhm2YA32W4FBS7KJAXdk=/114x114/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <link rel="shortcut icon" href="https://s2.glbimg.com/lwoJ7G2tUnyVRinT9UdaQAzaglc=/16x16/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_b58693ed41d04a39826739159bf600a0/internal_photos/bs/2018/x/a/DFHdvwSVS56LOAcbjgfg/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../../../assets/css/bundle.css">
  </head>
  <body class="download-page">
    <section class="form-container">
      <header>
        <div class="logo"></div>
      </header>
      <div class="alert-message show">{{ msg }}</div>
    </section>
    <script src="../../../../assets/js/bundle.js"></script>
  </body>
</html>